.header__logo-text {
	text-transform: uppercase;
	font-size: 16.65px;
	font-weight: 700;
	line-height: 1.1;
	color: var(--text-color-light);
	max-width: 147px;
}

@media screen and (max-width: 768px) {
	.header__logo-text {
		font-size: 14.42px;
	}
}
