.ticker {
  width: 100%;
	overflow: hidden;
	white-space: nowrap;
	padding-top: clamp(10px, 0.436rem + 0.81vw, 18px);
	padding-bottom: clamp(10px, 0.436rem + 0.81vw, 18px);
	background-color: var(--ui-red-color);
}


